@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.adminContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.titleName {
    display: flex;
    margin-top: 115px;
    margin-left: 150px;
}
