@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ceiling-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;    
}

.product-card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 16px;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 350px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.product-image {
    display: flex;
    align-items: center;
    max-width: 90%;
    padding: 10px;
    height: auto;
}


.product-name {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 13px;
    margin-top: 5px;
}

.product-info {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price {
    font-size: 17px;
    display: flex;   
    margin-left: -140px;
}

.butttons {
    align-items: center;
    justify-content: center;
    display: flex; 
    gap: 15px;
    margin: 5px;
    cursor: pointer;
}

.buy-now {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: none; 
    padding: 9px 33px;
    background-color: rgb(231, 231, 231);
    color: black;
    transition: all 0.4s ease;
    cursor: pointer;
}

.buy-now:hover {
    background-color: rgb(40, 74, 194);
    color: white;
}

.addTo-Cart {
    border-radius: 5px;
    font-size: 21px;
    border: none; 
    padding: 5px 23px;
    background-color: rgb(231, 231, 231);
    color: black;
    transition: all 0.4s ease;
    cursor: pointer;
 }

 .addTo-Cart:hover {
    background-color: rgb(40, 74, 194);
    color: white;
}

