@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:  white;
    padding: 0;
    margin: 0;
}

/*navigation css*/


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; 
    margin-left: 10px;
} 

.logo .back-logo {
    display: flex;
    position: relative;
    padding-right: 25px;

}

.logo .logo-name, span .red-service {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: Panton-Trial Heavy;
    z-index: 2;
    letter-spacing: 1px;
    font-size: 27px;
}


/*font family*/
@font-face {
    font-family: f Finish;
    src: url("/user-pages/fonts/fFinish.ttf");
}

@font-face {
    font-family: Panton-Trial Heavy;
    src: url("/user-pages/fonts/Panton-Trial-Heavy.ttf");
}


.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 20px; 
    margin-bottom: 10px;
    
}

/*nav button*/

.nav-menu .nav-link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
    font-family: f Finish;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    color: rgb(0, 47, 215);
    border-radius: 30px;
    letter-spacing: 1px;
}

.nav-menu .nav-link:hover {
     background-color: rgb(0, 47, 215);
     cursor: pointer;
     transition: all 0.4s ease;
     position: relative;
     color: white;
}

li {
    list-style: none;
    text-decoration: none;
    
}

a {
   text-decoration: none;
    color: black;
}

.navigation {
    min-height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color:  rgb(255, 241, 82);
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    

    /*z-index try*/
    
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    height: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: ' ';
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);

}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);

}

.hamburger.is-active .bar {
    opacity: 0;

}

.mobile-nav {
    display: flex;
    position: fixed;
    top: -100%;
    width: 100%;
    min-height: 40%;
    z-index: 2;
    background-color: rgb(249, 249, 249);
    padding-top: 85px;
    justify-content: center;
    transition: all 0.4s ease;
}

.mobile-nav.is-active {
    top: 0;
}

.nav-link {
    margin-top: 10px;
}

.mobile-nav .nav-link {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 12px;
    text-align: center;
    padding: 15px 30px;
    color: rgb(55, 95, 239);
    font-family: f Finish;
    font-size: 22px;
    text-decoration: none;
}

.mobile-nav .nav-item::after {
    content: '';
    background-color: rgba(125, 125, 125, 0.244);
    position: absolute;
    height: 1px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    top: -10;
    left: 0;
    bottom: -10;
    box-sizing: border-box;
}

/* media nav */

@media (max-width:1032px) {
    .nav-menu {
        gap: 20px;
    }
}


@media (max-width:390px) {
    .logo .logo-name, span .red-service{
        display: none; 
    }

    .mobile-nav .nav-link {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        font-size: 100%;
        color: rgb(0, 47, 215);
        text-decoration: none;
    }

}
@media(max-width:970px) {
    .nav-menu {
        display: none;
    }

}

@media(min-width:970px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .logo .logo-name, span {
        font-size: 25px;
    } 
}

@media(max-width:580px) {
    .logo-name, span {
        display: flex;
        flex-direction: column;
    }

    .logo .logo-name, span {
        font-size: 22px;
        margin-left: 40px;
    } 
}

@media(max-width:475px) {
    .logo .logo-name, span {
        font-size: 21px;
        margin-left: 10px;
    } 
}

@media(max-width:403px) {
    .logo .logo-name, span {
        display: none;
        
    } 
}

/* slider css */

.main-slider {
    height: 100vh;
    width: 100%;
    background-color: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);

}


.wrapper, 
.slide {
    width: 100%;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
}

.slide {
    overflow: hidden;
}

.slide::before {
    content: ' ';
    position: absolute;
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.slide, 
.image {
    height: 100%;
    width: 100%;
    object-fit: inherit;
}

.slide .image-data {
    position: absolute;
    top: 57%;
    left: 5%;
    text-align: start;
    z-index: 2;
}

.image-data  p.text {
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-shadow:0 0 10px black
    
}

.image-data h2 {
    font-size: 45px;
    color: white;
    text-shadow:0 0 20px black;
    

}

a.button-start {
    display: inline-block;
    position: fixed;
    padding: 10px 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 900;
    transition: all 0.4s ease;
    
}

a.button-start:hover {
    color: white;
    background-color:  rgb(40, 74, 194);
    box-shadow: 20px;
}

/* swiper button css */

div.slide-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    top: 55%;
}

.slide-btn:hover {
    background-color: rgb(255, 255, 255, 0.6);

}

div.swiper-button-next {
    right: 45px;
}
div.swiper-button-prev {
    left: 45px;
}

div.slide-btn::before,
div.slide-btn::after {

    font-size: 20px;
    color: white;
}

div .swiper-pagination-bullet {
    opacity: 1;
    height: 8px;
    width: 8px;
    transition:  0.5s ease;
    
}

div .swiper-pagination-bullet-active {
   content: '';
   background-color: rgba(255, 255, 255, 0.5);
   width: 18px;
   border-radius: 50px;
}

div .swiper-pagination-bullet:hover {
   content: '';
   background-color: rgba(255, 255, 255, 0.5);
   width: 18px;
   border-radius: 50px;
}

/* media slider */

@media screen and (max-width: 1250px) {
    .main-slider {
        height: 90vh;
        width: 100%;
        background-color: none;
    }
}

@media screen and (max-width: 768px) {
    div.slide-btn {
        visibility: hidden;
    }

    .main-slider {
        height: 70vh;
        width: 100%;
        background-color: none; 
    }

    .image-data  p.text {
        font-size: 15px;
        font-weight: 500;

        
    }

    .image-data h2 {
        font-size: 28px;
        color: white;
        text-shadow:0 0 20px black;
        
    
    }
    
    a.button-start {
        display: inline-block;
        position: fixed;
        font-size: 13px;
        margin-top: 10px;     
    }
}

@media screen and (max-width: 575px) {
    .image-data h2 {
        font-size: 23px;
        color: white;
        text-shadow:0 0 20px black;
    }

    .image-data p.text {
        font-size: 11px;
    }
    
    a.button-start {
        display: inline-block;
        font-size: 7px;
     
    }
}

@media screen and (max-width: 680px) {
    .main-slider {
        height: 65vh;
        width: 100%;
        background-color: none; 
    }
}

@media screen and (max-width: 565px){
    a.button-start {
        display: inline-block;
        position: fixed;
        font-size: 10px;
        margin-top: 17px;    
        padding: 7px 10px; 
    }
}

@media screen and (max-width: 460px) {
    .main-slider {
        height: 50vh;
        width: 100%;
        background-color: none; 
    }

    .image-data  p.text {
        font-size: 11px;
        font-weight: 500;

        
    }
    
    .image-data h2 {
        font-size: 25px;
        color: white;
        text-shadow:0 0 20px black;
        
    
    }
    
    a.button-start {
        display: inline-block;
        position: fixed;
        font-size: 11px;
        padding: 7px 10px;
        margin-top: 10px;    
    }
}

@media screen and (max-width: 570px) {
    .main-slider {
        height: 50vh;
        width: 100%;
        background-color: none; 
    }
}

/* horizontal scroll */

.category-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    height: 100vh;
    width: 100%;
    padding: 60px 0;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.view-others {
    display: flex;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    padding: 20px 0 0 0;
    color:  black;  
    text-decoration: underline;
    transition: all 0.4s ease;
}

.view-others:hover {
    color:  rgb(40, 74, 194);
}

.category-name {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.category-name h1 {
    font-family: Panton-Trial Regular;
}

.category-name p {
    color: rgba(0, 0, 0, 0.578);
}

.category-container, .categories {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
}

.category img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 35vh;
    width: 100%;
    object-fit: inherit;
}

.category .view-ceiling {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20%;
    color: white;
    background-color:  rgb(40, 74, 194);
    padding: 10px 10px;
    border-radius: 10px;
    width: 50%;
    font-weight: 500;
    transition: all 0.3s ease;
}

.category .view-flooring {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 24%;
    color: white;
    background-color:  rgb(40, 74, 194);
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 500;
    width: 50%;
    transition: all 0.3s ease;
}

.category .view-walling {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25%;
    color: white;
    background-color: rgb(40, 74, 194);
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 500;
    width: 50%;
    transition: all 0.3s ease;
}

.category a:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.7);
}

/* media category */

@media screen and (max-width: 1000px) {
    .category img {
        height: 30vh;
    }

    .category .view-ceiling {
        font-size: 10px;
    }

    .category .view-flooring {
        font-size: 10px;
    }

    .category .view-walling {
        font-size: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .category-name {
        font-size: 20px;
    }
}

@media screen and (max-width: 910px) {
    .category img {
        height: 27vh;
    }
}

@media screen and (max-width: 771px) {
    .category img {
        height: 25vh;
    }
}

@media screen and (max-width: 740px) {
    .category img {
        height: 24vh;
    }

    .category .view-ceiling {
        font-size: 10px;
    }

    .category .view-flooring {
        font-size: 10px;
    }

    .category .view-walling {
        font-size: 10px;
    }
}

@media screen and (min-width: 740px) {
    .category-name {
        font-size: 15px;
    }
}

@media screen and (max-width: 625px) {
    .category-container, .categories {
        flex-direction: column;
    }

    .category img {
        height: 40vh;
    }

    .category .view-ceiling {
        font-size: 15px;
        margin-left: 25%;
        margin-bottom: 30px;
    }

    .category .view-flooring {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .category .view-walling {
        font-size: 15px;
    }

    .category-name {
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {
    .category-container, .categories {
        flex-direction: column;
    }

    .category img {
        height: 35vh;
    }

    .category .view-ceiling {
        font-size: 15px;
        margin-left: 25%;
        margin-bottom: 30px;
    }

    .category .view-flooring {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .category .view-walling {
        font-size: 15px;
    }

    .category-name {
        font-size: 12px;
    }
}

/* 3CA Destiption */

.description-container {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(0, 47, 215); */
    background-color: rgb(255, 245, 138);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

@font-face {
    font-family: Panton-Trial Regular;
    src: url("fonts/Panton-Trial-Regular.ttf");
}

.description {
    height: 100%;
    width: 60%;
    color: black;
    text-align: center;

}

.description h2 {
    font-family: Panton-Trial Regular;
    padding: 15px 0;
    position: relative;
    font-size: 30px;
    
}

.description h2::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.34);
    height: 2px;
    width: 20%;
    display: flex;    
    position: absolute;
    top: 32px;
    left: 20px;
}

.description h2::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.34);
    height: 2px;
    width: 20%;
    display: flex;    
    position: absolute;
    top: 32px;
    right: 20px;
}


.description h5 {
    font-size: 12px;   
}

@media screen and (max-width: 1245px) {
    .description h2::before, 
    .description h2::after {       
        width: 15%;
    }


} 

@media screen and (max-width: 1060px) {
    .description h2 {
        font-size: 25px;
    }

    .description h2::before, 
    .description h2::after {       
        top: 30px;
    }
}

@media screen and (max-width: 907px) {
    .description h2 {
        font-size: 23px;
    }

    .description h2::before, 
    .description h2::after {       
        top: 28px;
    }

    .description h5 {
        font-size: 11px;   
    }
}

@media screen and (max-width: 832px) {
    .description h2 {
        font-size: 21px;
    }

    .description h2::before, 
    .description h2::after {       
        top: 26px;
    }

    .description h5 {
        font-size: 10px;   
    }
}

@media screen and (max-width: 774px) {
    .description h2 {
        font-size: 21px;
    }

    .description h2::before, 
    .description h2::after {       
        display: none;
    }

    .description h5 {
        font-size: 10px;   
    }
}

@media screen and (max-width: 500px) {
    .description h2 {
        font-size: 15px;
    }

    .description h5 {
        font-size: 9px;   
    }
}

@media screen and (max-width: 340px) {
    .description h2 {
        font-size: 13px;
    }

    .description h5 {
        font-size: 8px;   
    }
}

/* map */

.map-container {
    z-index: 1;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
}


















